# Default ignored files
/../../GovernmentNotes  /.idea/shelf/
/../../GovernmentNotes  /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../GovernmentNotes  /.idea/httpRequests/
# Datasource local storage ignored files
/../../GovernmentNotes  /.idea/dataSources/
/../../GovernmentNotes  /.idea/dataSources.local.xml
